$color1: #9356DC;
$color2: #FF79DA;
$color3: #99E2D0;

* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: "Roboto", "Shrikhand", sans-serif;
  list-style: none;
  cursor: default;
}

button {
  padding: 15px 30px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  background: linear-gradient(360deg, $color1 21%, $color2 100%);
  border: solid transparent 0px;
  box-shadow: rgba(0, 0, 0, 0.21) 5px 5px 25px 5px;
  border-radius: 50px;
  cursor: pointer;



  &:hover {
    background: linear-gradient(360deg, $color1 0%, $color2 100%);
    box-shadow: rgba(0, 0, 0, 0.65) 5px 5px 70px 5px;
    transition-duration: 4s;




  }
}