* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", "Shrikhand", sans-serif;
  list-style: none;
}

button.btn {
  padding: 15px 30px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  background: linear-gradient(360deg, #9356DC 21%, #FF79DA 100%);
  border: solid transparent 0px;
  box-shadow: rgba(0, 0, 0, 0.21) 5px 5px 25px 5px;
  border-radius: 50px;
  cursor: pointer;
}
button.btn:hover {
  background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 25px 5px;
  transition-duration: 300ms;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header img {
  width: 60%;
  padding: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .jeanmichel {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  text-align: center;
  gap: 10px;
  border-top: 1px;
  border-bottom: 1px;
  box-shadow: 0 0 3px 3px rgba(8, 0, 0, 0.2274509804);
  font-weight: 500;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4px;
  width: 100%;
  gap: 30px;
}
main section {
  background: #F6F6F6;
  padding: 15px 0px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
main section.Fonctionnement {
  background-color: white;
  padding: 20px;
}
main div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
  text-align: center;
}
main p {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}
main ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}
main ul li {
  background: #F6F6F6;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: solid transparent;
  border-radius: 25px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  gap: 20px;
}
main ul li i {
  color: gray;
  width: 16px;
  height: 18px;
}
main ul p {
  font-weight: 500;
}
main ul span {
  align-items: center;
  color: white;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border: solid transparent;
  border-radius: 100%;
  position: relative;
  left: -12px;
  font-size: 14px;
}

a {
  color: black;
  width: 335px;
  height: 250px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}
a i.fa-solid {
  font-size: 22px;
  position: absolute;
  transform: translate(275px, 200px);
  opacity: 0%;
  background: hsl(267, 66%, 60%);
  background: linear-gradient(250deg, hsl(267, 66%, 60%) 0%, hsl(317, 100%, 74%) 100%);
  background: -webkit-linear-gradient(250deg, hsl(267, 66%, 60%) 0%, hsl(317, 100%, 74%) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
}
a i.fa-solid:hover {
  opacity: 100%;
  transition: 250ms;
}
a i.fa-regular {
  font-size: 22px;
  position: absolute;
  transform: translate(275px, 200px);
  opacity: 100%;
}
a i.fa-regular:hover {
  opacity: 0%;
}
a span {
  color: #269e80;
  font-weight: 700;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 8px 10px 8px 10px;
  border: solid rgba(0, 0, 0, 0) 1px;
  background-color: #99e2d0;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  left: 235px;
  bottom: 235px;
}
a img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
a h3 {
  display: flex;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
}
a p {
  padding-left: 10px;
  font-weight: 300;
}

footer {
  color: white;
  width: 100%;
  height: 186px;
  padding: 22px;
  display: flex;
  background-color: #353535;
}
footer section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer section h3 {
  width: 100%;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}
footer section article {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  align-items: center;
}
footer section article i {
  width: 16px;
  height: 16px;
}/*# sourceMappingURL=index.css.map */